@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* 
general 
-------
*/

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
  font-family: 'Libre Baskerville' !important;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: linear-gradient(180deg, rgba(46, 243, 250, 0.172) 0%, rgba(156,255,254,0) 100%) !important;

}

.mainLayout .ant-layout-header {
  background: rgb(216, 255, 255);
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  padding: 0 0 20px;
}


.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* .titleHolder:after {
  transform: translateX(-50%);
  content: "";
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}
 */

/* 
header
------ 
*/


.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo-name{
  display: inline-flex;
  justify-content:center;
  align-items: center;
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;  
}

.header .logo img{
  height: 50px;
}

.header .logo .fas {
  color: #00dbd0;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 2.7   ;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
/* .header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
  padding-bottom: 5px;
} 

.contact-style{
  border:2px solid #00dbd0;
  border-radius: 5px;
  padding: 5px;
}

.ant-menu-item-selected {
  color: #00dbd0 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #00dbd0 !important;
  transform: translateY(200%);
    transition: all .5s ease-in-out;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover{
  color: #00dbd0 !important;
}
/* .header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
} */
/* 
.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
} */

/* 
hero
---- 
*/
.hero-header{
  height: 100vh;
}

.hero-col-left{
  padding-right: 50px;
  padding-top: 30px;
  top: -100px;  
}

.hero-col-left h1 h2{
  font-size: 60px;
  font-weight: bold !important;
}

.hero-col-left p {
  font-size: 18px;
}

.hero-col-right{
  position: relative;
}

.image-div-1{
  position: absolute;
  left: 220px;
  top: -220px;
  border: 4px solid #00dbd0;
  padding: 50px;
}

.image-div-2{
  position: absolute;
  top: -230px;
}

.image-div-2 img {
  width: 419px;
}

.heroBlock {
  padding-top: 80px;
  height: 100vh;
}

.heroBlock .container-fluid {
  display: block !important;
}

.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: #000 !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: #1890ff !important;
}

.heroBlock .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.heroBlock h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

/* 
block
----- 
*/
.block {
  padding: 60px 0;
}

/* 
Product
----- 
*/

.product-slide{
  margin-top: 100px;
  text-align: center;
}


.aboutBlock .contentHolder {
  text-align: center;
  margin: 0px 300px 100px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
  display: flex;
}
.content .icon {
  margin: 0 30px 0 30px;
}


.product-div {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.cGKbZh {
  background-color: #00dbd028 !important;
}

.cGKbZh:hover:enabled, .cGKbZh:focus:enabled {
  background-color: #00dbd0 !important;
}

.ejXxNI{
  background-color: #00dbd028 !important;
  box-shadow: 0 0 1px 3px #00dbd0 !important;
}
.ehkxHv{
  background-color: #00dbd028 !important;
}

/* 
about
------------
*/

.about-container{
  margin-top: 100px;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-style{
  position: absolute;
    top: -150px;
    right: 85px;
    margin: auto;
}

.rate-comment{
  margin-top: 10px;
  display: block;
}

.rate-comment img{
  border-radius: 200%;
  width: 9rem;
  height: 9rem;
  margin-bottom: 10px;
}
.worksBlock {
  /* background: url('assets/images/bg-works.jpg') no-repeat; */
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.ant-carousel .slick-dots li button {
  background: #00dbd0 !important;
}


.read-about{
  padding: 0 100px ;
  font-weight: bold;
  margin-top: 40px;
}

.read-about button {
  border-radius: 20px;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.subscribe-news{
  margin-top: 80px;
}

.worksBlock:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: #fff;
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}



/* 
blog
----
*/

.blog-container{
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  float: left;
  margin-right: 30px;
}

.blog-card{
  display: flex;
  flex-direction: column;
}

.blog-text{
  padding: 0 250px;
  margin-top: 30px;
}

.blog-detail-area img {
  display: block;
  margin: 0 auto 40px;
  width: 500px;
  height: 300px;
}
.blog-detail-area h2 {
  font-size: 40px;
  font-weight: 600;
}

.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/* 
footer
------
*/

.footer-container{
  width: 100%;
  margin-top: 50px;
  background-image: url(./images/Group\ 229.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-card{
  padding-top: 80px;
  color: white;
}
.ant-layout-footer {
  background: #111 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: #1890ff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* Login */
.login-method form, .logOut {
  border: 1px solid #00dbd0;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 10px;
}
.logOut {
  margin-top: 80px;
}
.logOut button {
  margin-top: 10px;
}
.login-method input {
  border: none;
  border-bottom: 1px solid #00dbd0;
}
.login-method input:hover {
  border: 2px solid #00dbd0;
}
.login-method input[type="submit"], .logOut button, .search-btn {
  color: #fff;
  background: #00dbd0;
  border: 1px solid #00dbd0;
  transition: all .3s;
}
.login-method input[type="submit"]:hover, .logOut button:hover, .search-btn:hover {
  color: #00dbd0;
  background: none;
}
.login-method p {
  text-align: center;
  padding-top: 15px;
}
.login-method span {
  color: #00c2b8;
  text-decoration: underline;
  cursor: pointer;
}
.brand-login button {
  position: relative;
  margin-top: 80px;
  border: 1px solid #00dbd0;
  border-radius: 25px;
  padding: 5px;
  font-size: 18px;
}
.brand-login span {
  color: #4285F4;
}
.brand-login button::before {
  content: 'Or';
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px;
}
.brand-login button::after {
  content: '';
  position: absolute;
  border: 1px solid #00dbd0;
  width: 100%;
  top: -37px;
  left: 0;
  z-index: 0;
}

/* Sidebar */
.sidebar {
  background: #F4FCFB;
  text-align: center;
  height: 100vh;
}
.sidebar .logo {
  padding: 20px 0;
}
.sidebar .logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
.sidebar-detail {
  height: 85%;
}
.sidebar-detail li, .logout {
  background: #00dbd0;
  margin-bottom: 10px;
  padding: 10px 0;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}


/* NavbarLogin */
.custom-navbar {
  padding: 7px 0;
  background: rgb(216, 255, 255);
}
.custom-navbar a {
  font-weight: 500;
}
.custom-navbar .logo a {
  font-size: 25px;
  font-weight: 500;
}


/* BlogList */
.list-blog {
  background: none;
  margin: -3px 0 0 -24px;
  height: 90vh;
  padding: 35px 0;
}
.list-blog .info {
  height: 80vh;
  background: #e1e1e1;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px;
  overflow-y: scroll;
}
.list-blog .info .tHead {
  background: #F5F6FA;
  border-radius: 7px;
  padding: 10px 20px 6px;
}
.list-blog .info .tBody .title {
  text-transform: capitalize;
}
.list-blog .info .tBody .delete {
  color: #fff;
  background: #FF4E54;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .aboutBlock .contentHolder {
    margin: auto;
  }
  .image-div-1 img{
    width: 85%;
  }
  .image-div-2 img{
    width: 70%;
  }
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
  .content img{
    width: 150%;
  }
 .read-about{
   padding: 0px 0px;
   margin: auto;
   font-size: 2px;
 }
 .read-about button{
   padding: 5px;
   font-size: 14px;
 }
 .blog-text{
   padding: 0;
   margin: auto;
 }
.footer-container{
  text-align: center;
}
.footer-container hr{
  margin: auto;
}
.hero-col-left{
  padding-left: 20px;
  margin-top: 20px;
}
.blog-container{
  margin-top: 100px;
}
}